[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = git@github.com:jfryman/puppet-nginx.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@github.com:Mayflower/puppet-php.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/remi"]
	path = puppet/modules/remi
	url = git@github.com:lboynton/puppet-remi.git
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = git@github.com:rafaelfelix/puppet-pear.git
[submodule "puppet/modules/puppetlabs-inifile"]
	path = puppet/modules/puppetlabs-inifile
	url = git://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "puppet/modules/puppetlabs-concat"]
	path = puppet/modules/puppetlabs-concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/drush"]
	path = puppet/modules/drush
	url = git@github.com:jonhattan/puppet-drush.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/inifile"]
	path = puppet/modules/inifile
	url = git@github.com:puppetlabs/puppetlabs-inifile.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
